/* まず、style.cssにこのルールを書き入れてください。 */
/* body {
    font-size: 200%;
  }
  
  /* ここにルールを足していきましょう。*/
/* h1 {
    color: blue;
}

p{
    background-color: yellow;
}

.awesome{
    font-weight: bold;
}

#d :not(){
    color: red;
} */
/* 
.little {
    color: black;
    font-size: 50%;
}

.great{
    font-weight: bold;
}

span{
    color: green;
}

 */

 .title-box{
    border: solid 2px black;
    background-color: white;
    width: 500px;
    height: 200px;
    margin: auto;
}
 
.box-green-class{
    border: solid 2px green;
    background-color: green;
    width: 200px;
    height: 200px;
    margin: auto;
}

.box-blue-class{
    border: solid 2px blue;
    background-color: blue;
    width: 300px;
/*     height: 200px; */
    margin: auto;
}
